{% extends "skeleton.html" %}

{% block title-suffix %}{{ page_title }}{% endblock %}

{% block sidebar %}
	{% include "tags/category_list.html" %}
{% endblock %}

{% block breadcrumb-heading %}{{ page_title }}{% endblock %}

{% block heading %}
	{{ page_title }}
{% endblock %}

{% block items %}
	<ul class="nav nav-tabs">
	  <li><a href="{% url 'misc:faq' %}">Frequently Asked Questions</a></li>
	  <li><a href="{% url 'misc:our_story' %}">Our Story</a></li>
	  <li><a href="{% url 'misc:store' %}">Store</a></li>
	  <li class="active"><a href="{% url 'misc:contact_us' %}">Contact Us</a></li>
	  <li><a href="{% url 'misc:terms_of_use' %}">Terms of Use</a></li>
	</ul>

    <br/>

	<div class="row">
		<div class="col-md-12">
			<p>Feel free to contact us anytime at 01836-007001</p>

			<p>Or if you prefer, you can drop us a note using the form below. You'll always get a response from a real person — with a real name — within 48 hours.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<form method="post" action="/misc/send/mail/">
				{% csrf_token %}
				<input type="text" class="form-control" name="name" id="name" placeholder="Name" value="{{ name }}"/> <br/>
				<input type="text" class="form-control" name="email" id="email" placeholder="Email" value="{{ email }}"/> <br/>
				<input type="text" class="form-control" name="phone" id="phone" placeholder="Phone" value="{{ phone }}"/> <br/>
				<textarea class="form-control" rows="10" cols="40" name="message" id="message" placeholder="Message"></textarea> <br/>

				<input type="submit" class="btn btn-primary" value="Send"/>
			</form>
		</div>
	</div>

{% endblock %}
