{% extends "skeleton.html" %}

{% block title-suffix %}{{ page_title }}{% endblock %}

{% block sidebar %}
	{% include "tags/category_list.html" %}
{% endblock %}

{% block breadcrumb-heading %}{{ page_title }}{% endblock %}

{% block heading %}
	{{ page_title }}
{% endblock %}

{% block items %}
	<ul class="nav nav-tabs">
	  <li><a href="{% url 'misc:faq' %}">Frequently Asked Questions</a></li>
	  <li class="active"><a href="{% url 'misc:our_story' %}">Our Story</a></li>
	  <li><a href="{% url 'misc:store' %}">Store</a></li>
	  <li><a href="{% url 'misc:contact_us' %}">Contact Us</a></li>
	  <li><a href="{% url 'misc:terms_of_use' %}">Terms of Use</a></li>
	</ul>

    <br/>

	<div class="row">
		<div class="col-md-11 text-justify">
			Pharma AiD is an online medicine chain store based on “Brick and Click” style. It has both physical storefront and online shop. It has started its business in March, 2015.
We believe time is valuable to our fellow Dhaka residents, and that they should not have to waste hours in traffic and wait in line just to buy medicines. This is why Pharma Aid is delivering your desired medicine and other healthcare items at your door-step and at no additional cost.
Pharma Aid is a work in progress, and we hope to get better over time. We are trying our best to improve our services. If you have ideas on how we can improve, we would love to hear from you.  Please do email us at <a href="mailto:pharmaaidltd@gmail.com">pharmaaidltd@gmail.com</a>

        <h4>Abu Saleh Md. Salehin</h4>
        Salehin is Founder and CEO of Pharma AiD. Before Pharma AiD, Salehin worked for a private Commercial Bank of Bangladesh for 6 years.
        In 2014 he generated an idea to open up an online Pharmacy. Then he gathered information and other knowledge how to open an online pharmacy.
        And in March 2015, he started his business. Salehin has completed his BBA (Finance) & EMBA (Operations Management) from East West University.
		</div>
	</div>

{% endblock %}