{% extends "skeleton.html" %}

{% block title-suffix %}{{ page_title }}{% endblock %}

{% block sidebar %}
	{% include "tags/category_list.html" %}
{% endblock %}

{% block breadcrumb-heading %}{{ page_title }}{% endblock %}

{% block heading %}
	{{ page_title }}
{% endblock %}

{% block items %}
	<ul class="nav nav-tabs">
	  <li><a href="{% url 'misc:faq' %}">FAQ</a></li>
	  <li><a href="{% url 'misc:our_story' %}">Our Story</a></li>
	  <li class="active"><a href="{% url 'misc:store' %}">Store</a></li>
	  <li><a href="{% url 'misc:contact_us' %}">Contact Us</a></li>
	  <li><a href="{% url 'misc:terms_of_use' %}">Terms of Use</a></li>
	</ul>

	<div class="row">
		<div class="col-md-11 text-justify">
			<p>Our first medicine store is located in Mirpur DOHS area over 1000SFT area. We have a plan to set up few other stores in prominent location of Dhaka City.</p>

			<h4>Abu Saleh Md. Salehin</h4>
			Salehin is Founder and CEO of Pharma AiD. Before Pharma AiD, Salehin worked for a private Commercial Bank of Bangladesh for 6 years. In 2014 he generated an idea to open up an online Pharmacy. Then he gathered information and other knowledge how to open an online pharmacy. And in March 2015, he started his business. Salehin has completed his BBA (Finance) & EMBA (Operations Management) from East West University.
		</div>
	</div>

{% endblock %}