{% extends "skeleton.html" %}
{% load static %}

{% block title-suffix %}{{ category_slug|capfirst }}{% endblock %}

{% block sidebar %}
	{% include "tags/category_list.html" %}
{% endblock %}

{% block breadcrumb-heading %}Change Password{% endblock %}

{% block heading %}
	Change Password
{% endblock %}

{% block items %}
    <h1>Change Password</h1>

	<table class="table">

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_table }}

	    <tr>
            <td></td>
		    <td>
	            <button type="submit" name="action" class="btn btn-danger">Change Password</button>
		    </td>
	    </tr>
    </form>

	</table>
{% endblock %}
