{% extends "skeleton.html" %}

{% block title-suffix %}Monthly Order{% endblock %}

{% block sidebar %}
	{% include "tags/category_list.html" %}
{% endblock %}

{% block breadcrumb-heading %}Monthly Order{% endblock %}

{% block heading %}
	Monthly Order
{% endblock %}

{% block items %}
	<h4>Monthly Order</h4>

	<table class="table">

	{% for obj in objs %}
		<tr>
			<td>{{ obj.name }}</td>
			<td>{{ obj.price }}</td>
			<td>{{ obj.quantity }}</td>
			<td>{{ obj.total }}</td>
		</tr>
		{% empty %}
			<h5>No monthly order set yet!</h5>
		{% endfor %}
	</table>
{% endblock %}