defusedxml==0.4.1
Django==1.9.8
django-allauth==0.26.1
django-decorator-include==1.1
django-sendmail-backend==0.1.2
future==0.15.2
oauthlib==1.1.2
Pillow==3.3.0
psycopg2==2.6.2
python-openid==2.2.5
python3-openid==3.0.10
pytz==2016.10
requests==2.10.0
requests-oauthlib==0.6.2
