{% extends "admin_base.html" %}

{% block main %}
	<div class="row">

	<div class="col-md-4">
		<h4>Order # {{ order.transaction_id }}</h4>

		<p>Date: {{ order.created|date:"D d M Y" }}</p>
		<p>
			Status: <label class="label label-{{ colour }}">{{ order.get_status_display }}</label>
			<a href="{% url 'backend:order-change-status-update-view' order.pk %}" class="btn btn-primary btn-xs">Change</a>
		</p>
		<p>Subtotal: Tk. {{ order.subtotal }}</p>
		<p>Delivery Charge: Tk. {{ order.delivery_charge }}</p>
		<p>Total: Tk. {{ order.total }}</p>
	</div>

	<div class="col-md-4">
		<h4>Delivery Address</h4>

		<p>{{ order.shipping_name }}</p>
		<p>{{ order.shipping_address_1 }}</p>
		<p>{{ order.shipping_address_2 }}</p>
		<p>{{ order.shipping_city }} - {{ order.shipping_zip }}</p>
		<p>{{ order.shipping_country }}</p>
		<p>{{ order.mobile }}</p>
	</div>

	<div class="col-md-4">
		<h4>Delivery Date</h4>

		<p>{{ order.delivery_date }}</p>

		<h4>Delivery Time</h4>

		<p>{{ order.get_delivery_time_display }}</p>
	</div>

	</div>

	<hr/>

	<h4>Products</h4>

	<table class="table">
	<tr>
		<th>Name</th>
		<th>Price</th>
		<th>Quantity</th>
		<th>Total</th>
	</tr>
	{% for item in items %}
		<tr>
			<td>{{ item.name }}</td>
			<td>{{ item.price }}</td>
			<td>{{ item.quantity }}</td>
			<td>{{ item.total }}</td>
		</tr>
	    {% endfor %}
		<tr>
			<td>Subtotal</td>
			<td>---</td>
			<td>---</td>
			<td>{{ order.subtotal }}</td>
		</tr>
	</table>
{% endblock %}

