{% extends "skeleton.html" %}

{% block title-suffix %}{{ product }}{% endblock %}

{% block sidebar %}
	{% include "tags/category_list.html" %}
{% endblock %}

{% block breadcrumb-heading %}<a href="{% url 'catalog:category' product.category.slug %}">{{ product.category }}</a></li><li class="active">{{ product }}{% endblock %}

{% block heading %}
	Product Details
{% endblock %}

{% block items %}
	<h4>{{ product.name }}</h4>
	<div class="row">
		<div class="col-sm-4">
			<img src="/media/{{ product.image }}"/>
		</div>
		<div class="col-sm-6">
			<p>{{ product.name }}</p>
			<p>{{ product.generic }}</p>
			<p>{{ product.price }}</p>
			<p>{{ product.manufacturer }}</p>
			<p>{{ product.dosage }}</p>
		</div>
	</div>
{% endblock %}
