{% extends "skeleton.html" %}
{% load static %}

{% block title-suffix %}{{ subcategory_slug|capfirst }}{% endblock %}

{% block sidebar %}
	{% include "tags/category_list.html" %}
{% endblock %}

{% block breadcrumb-heading %}{{ page_title }}{% endblock %}

{% block heading %}
	{{ page_title }}
{% endblock %}

{% block banner %}
	{% if request.path == '/category/medicine/' %}
		<img src="{% static 'img/banner.jpg' %}" width="93%"/>
	{% endif %}
{% endblock %}

{% block items %}
	{% for item in products %}
	    <div class="list-item">
            <div class="list-item-image text-center">
	            <a href="{% url 'catalog:product' item.slug %}">
		            {% if item.image %}
		                <img src="/media/{{ item.thumbnail }}" style="position: relative; "/>
		            {% else %}
			            <img src="/static/img/default.jpg" style="position: relative;" height="130"/>
		            {% endif %}
	            </a>
            </div>
	        <div class="text-center list-item-name">
	            {{ item.name }}
            </div>
{#		    <a href="{% url 'catalog:product' item.slug %}">#}
{#	            <div class="list-item-details-button text-center">#}
{#	                <b>DETAILS</b>#}
{#	            </div>#}
{#		    </a>#}
            <div class="list-item-details text-center">
                <p><b>Tk. {{ item.sale_price|safe }}</b></p>
            </div>
            <div class="list-item-button text-center" data-slug="{{ item.slug }}">
                <b>ADD TO BAG</b>
            </div>
        </div>
	    {% endfor %}
{% endblock %}

{% block js %}
	<script src="{% static 'js/catalog.js' %}"></script>
{% endblock %}

